.imgservicios img {
    transition: all 0.5s ease-out;
    max-width: 20rem;
}

.imgservicios img:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.mapa {
    border: solid 2px;
    border-color: rgb(74, 65, 121);
}

.circle {
    border-radius: 20%;
    border: 6px white double;
    width: 80%;
}

.circle:hover {
    filter: sepia(60%);
}

.mapa {
    width: 120em;
    height: 30em;
}
