<div class="container">
  <h1>ITEMS</h1>
  <div class="col">
    <div class="row">
      <div class="btn btn-lg btn-outline-primary">ADD</div>
    </div>
    <div class="row">
      <table class="table-striped table-hover border border-success container mt-5">
        <thead>
          <tr class="text-center">
            <th class="px-3">#</th>
            <th class="px-3">ID</th>
            <th class="px-3">Images</th>
            <th class="px-3">Name</th>
            <th class="px-3">Description</th>
            <th class="px-3">Category</th>
            <th class="px-3">Promotional code</th>
            <th class="px-3">Discount</th>
            <th class="px-3">Unitary price</th>
            <th class="px-3">Quantity</th>
            <th class="">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Items$ | async; let i=index" class="text-center">
            <td class="text-center">{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.photoURL[0]}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>{{item.promotionalCode}}</td>
            <td>{{item.discount}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quatity}}</td>
            <td class="d-flex justify-content-center">
              <span class="fa fa-user-times btn btn-outline-danger p-1 mx-1" (click)="onDeleteItem(item)"></span>
              <span class="fa fa-user-edit btn btn-outline-warning p-1" (click)='onUpdateItem(item)'></span>
            </td>
          </tr>
      </table>

    </div>
  </div>
</div>
