<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="px-3">#</th>
        <th class="px-3">ID</th>
        <th scope="col">Display name</th>
        <th scope="col">Email</th>
        <th scope="col">Email verificated</th>
        <th scope="col">Role</th>
        <th class="px-3">Photo</th>
        <th class="">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users$ | async; let i=index" class="text-center table-secondary">
        <td class="text-center">{{i+1}}</td>
        <td>{{user.uid}}</td>
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.emailVerified}}</td>
        <td>{{user.role}}</td>
        <td><img [src]="user.photoURL" class="img-fluid"></td>
        <td class="d-flex justify-content-center">
          <i class="fas fa-trash-alt btn btn-outline-danger p-1 mx-1" (click)="onDeleteUser(user)"></i>
          <i class="fas fa-edit btn btn-outline-warning p-1" (click)="onUpdateUser(user)"></i>
        </td>
      </tr>

    </tbody>
  </table>
</div>
