<div class="container col-5 mt-4 ">
  <div class="card bg-dark border-primary">
    <div class="card-header display-4">Go to...</div>
    <div class="row p-3">
      <div class="col">
        <button class="fa fa-cart-plus fa-5x mx-5 btn-outline-info p-2" title="Add items" routerLink="/store-items"></button>
      </div>
      <div class="col">
        <button class="fa fa-user-cog fa-5x mx-5 btn-outline-warning  p-2" title="Admin users" routerLink="/usersList"></button>
      </div>
      <div class="col">
        <button class="fa fa-history fa-5x mx-5 btn-outline-success  p-2" title=""></button>
      </div>
    </div>
  </div>
</div>
