<div class="card border-info mb-3 mx-auto mt-5" style="max-width: 30rem;">
  <div class="card-header">Password recovery</div>
  <div class="card-body">
    <h4 class="card-title">Please enter your email</h4>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        [formControl]="userEmail"
        required
      />
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary btn-lg" (click)="onReset()">
        Request a password reset
      </button>
    </div>
  </div>
</div>
