<app-carousel></app-carousel>
<div class=" md-10 sm-10 justify-content-center p-0 container-fluid">
    <div class="jumbotron mt-4">
        <a name="somos" id="somos"></a>
        <h1 class="display-3">¿Por qué las cabras deben ser tu nuevo animal favorito?</h1>
        <p class="lead justify-content">"¡Estás como una cabra!" es una frase que utilizamos para dudar de la cordura de nuestro acompañante, pero las investigaciones recientes muestran que bien podría usarse para alabar su memoria o sus dotes de aprendizaje. Christian Nawroth es un
            investigador de la Universidad Queen Mary de Londres (Reino Unido) que se ha convertido en 'el hombre que susurraba a las cabras' por sus trabajos sobre estos animales. Como muchos etólogos, comenzó sus estudios con grandes simios, pero pronto
            se interesó por el ganado, mucho menos conocido pero igual de interesante.</p>
        <h1 class="display-9">¡Tendemos a sobrestimar las habilidades de los perros, pero a subestimar las del ganado! </h1>
        <p class="lead justify-content"> Las cabras son más inteligentes de lo que parece: pueden resolver tareas complicadas con rapidez y las recuerdan durante mucho tiempo. Fueron las conclusiones de un estudio llevado a cabo por compañeros de Nawroth y publicado en la revista 'Frontiers
            in Zoology' en 2014, en el que se entrenó a una docena de estos animales para que abrieran una caja con comida. La tarea no era sencilla, pues consistía en dos pasos: empujar una palanca con la boca y luego levantarla. La mayoría lo logró
            tras unos doce intentos.

        </p>
        <h1 class="display-9">¡Son viejas amigas!</h1>
        <p class="lead justify-content">El primer animal doméstico fue el perro, pero las cabras vinieron después. Estos rumiantes, junto a las ovejas, llevan con nosotros al menos 10.000 años, lo que explica el secreto de su buena relación con el ser humano. La especie doméstica surgió
            de la bezoar, una especie salvaje que habita las montañas de Turquía, Irán y Afganistán. Su importancia para las primeras poblaciones sedentarias es tal que pueblan nuestra mitología, desde los carneros que tiran del carro de Thor hasta el
            dios Pan. Tan amplia fue su presencia en las religiones paganas que nuestra vieja amiga acabó por transformarse en el mismísimo diablo.

        </p>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top " width="auto" src="assets/images/home3.jpg">
        </div>
        <div class="col-4">
            <img class="card-img-top " width="auto" src="assets/images/home4.jpg">
        </div>
        <div class="col-4">
            <img class="card-img-top " width="auto" src="assets/images/home5.jpg">
        </div>
    </div>
</div>
